/* RESET, GENERALES Y CLASES BASE ====================================================================== */

:root {

  /* marca */
  --color-primary: #1f493d;           /* verde te papa green rgb(31, 73, 61) */
  --color-primary-hover: #336659;     /* verde stromboli */
  --color-primary-dark: #183c2e;
  --color-primary-light: #1e795f;

  /* acentos */
  --color-accent: #a76e45;            /* marron cape palliser */
  --color-accent-soft: #D9A38F;       /* marron terracotta*/

  /* bordes */
  --color-border-soft: #e5e0dc;
  --color-border-soft-hover: #d9d0d1;

  /* fondos */
  --color-background-main: #faf7f4;   /* blanco marfil ivory rgb(250, 247, 244) */
  --color-background-soft: #f1e7e8;   /* lila claro soft peach */

  /* texto */
  --color-text-main: #2f2f2f;         /* gris casi negro carbon */
  --color-text-muted: #595959;        /* gris medio */
  --color-text-light: #666666;

  --color-surface: #ffffff; 
  --color-black-soft: #111111;


  /* fonts */
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Playfair Display", serif;    

  /* tamanios fonts */
  --fs-xs: clamp(0.75rem, 0.8vw, 0.85rem);
  --fs-sm: clamp(0.8rem, 0.9vw, 0.9rem);
  --fs-base: clamp(0.95rem, 1.1vw, 1.05rem);
  --fs-md: clamp(1.1rem, 1.5vw, 1.3rem);
  --fs-md2: clamp(1.4rem, 2vw, 1.8rem);  
  --fs-lg: clamp(1.8rem, 2.5vw, 2.2rem);
  --fs-hero: clamp(2.2rem, 3.5vw, 3.5rem);
  /* --fs-hero: clamp(2.2rem, 5vw, 4.5rem);   */

  /* sombras */
  --shadow-soft: 0 15px 35px rgba(0,0,0,0.05);
  --shadow-medium: 0 12px 28px rgba(0,0,0,0.12);
  --shadow-strong: 0 40px 80px rgba(0,0,0,0.18);  
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  color: var(--color-text-main);  
  font-size: var(--fs-base);
  scroll-behavior: smooth;
}

p {
  font-size: var(--fs-base);
  color: var(--color-text-main);   
}

a {
  text-decoration: none;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* contenedor con ancho limitado para pantallas grandes */
.container__limit {
  max-width: 1600px;
  margin-inline: auto;
  padding-inline: clamp(1rem, 4vw, 3rem);
}

/* sistema de titulos */
.section__header {
  text-align: center;
  margin-bottom: clamp(3rem, 6vw, 5rem);
  margin-inline: auto;
}

.section__eyebrow {
  display: block;
  font-size: var(--fs-sm);
  font-weight: 500;  
  letter-spacing: 0.08em; 
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 1rem;
  /* opacity: 0.85; */
}

.section__title {
  font-size: var(--fs-lg);
  line-height: 1.2;
  color: var(--color-text-main);
  margin-bottom: 1rem;
}

.section__description {
  font-size: var(--fs-base);
  color: var(--color-text-muted);
  line-height: 1.6;
}

.btn--primary {
  font-size: var(--fs-base);
  font-weight: 500;
  background-color: var(--color-primary);
  color: var(--color-background-main);
  border: 2px solid var(--color-primary);
  align-self: flex-start;
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn--primary:hover {
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

.btn--secondary {
  font-size: var(--fs-base);
  font-weight: 500;
  background-color: transparent;
  color: var(--color-accent);
  border: 1px solid rgba(167, 110, 69, 0.5);
  align-self: flex-start;
  padding: 0.35rem 0.9rem;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}

.btn--secondary:hover {
  border-color: var(--color-border-soft);
  color: var(--color-accent);  
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}

.microtext {
  font-size: var(--fs-md);
  font-weight: 600;
  color: var(--color-text-main);
  opacity: 0.85;
  margin-top: 2.5rem;
  margin-bottom: 0;
}

/* HEADER ================================================================================ */

/* navbar personalizada */
.custom-navbar {
  background-color: var(--color-background-main);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  z-index: 2000;
}

.custom-navbar .container {
  display: flex;
  align-items: center;
}

/* Altura vertical fluida */
.navbar {
  padding-top: clamp(0.8rem, 0.6rem + 0.5vw, 1.4rem);
  padding-bottom: clamp(0.8rem, 0.6rem + 0.5vw, 1.4rem);
}
   
/* Espaciado horizontal entre links (desktop) */
.navbar-nav {
  gap: clamp(1rem, 1vw, 2rem);
}

/* Links */
.navbar-nav .nav-link {
  color: var(--color-primary);
  font-size: var(--fs-base);
  font-weight: 500;
  transition: color 0.2s ease;
}

/* Hover */
.custom-navbar .nav-link:hover {
  color: var(--color-accent);
}

/* Link activo */
.custom-navbar .nav-link[aria-current="page"] {
  font-weight: 700 !important;
  color: var(--color-primary);  
  border-bottom: 2px solid var(--color-primary);
}

/* Marca */
.custom-navbar .navbar-brand {
  padding: 0;
}

.logo {
  font-family: var(--font-secondary);
  font-weight: 600;  
  font-size: var(--fs-md2);
  text-transform: uppercase;
  letter-spacing: 0.14em;
}

.logo:hover {
  text-shadow: 0 2px 8px rgba(0,0,0,0.35);
}

/* espacio entre palabras en el logo */
.logo-space {
  margin-left: 0.20em;
}

.header {   
  background:
    /* sombra derecha */
    linear-gradient(to left, rgba(0,0,0,0.45), rgba(0,0,0,0) 35%),

    /* degradé izquierdo más profundo */
    linear-gradient(
      90deg,
      rgba(120,75,45,1) 0%,
      rgba(167,110,69,0.95) 25%,
      rgba(167,110,69,0.6) 50%,
      rgba(167,110,69,0) 75%
    ),
    
    url("../img/heroBackgroud.jpg");    

  background-size:
    100% 100%,   /* gradiente derecha */
    100% 100%,   /* gradiente izquierda */
    cover;       /* imagen */

  background-position:
    center,
    center,
    center;
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;    
    box-shadow: inset 0 0 120px rgba(0,0,0,0.25);       

    height: clamp(600px, 85vh, 900px);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-height: 100vh;
  width: 100%;  

  padding-top: clamp(9rem, 20vh, 12rem); 
  gap: clamp(2rem, 5vh, 4rem);  
}

.hero__title {
  font-size: var(--fs-hero);
  font-weight: 600;
  line-height: 1.15;
  max-width: 20ch;  /* ancho según caracteres */
  color: var(--color-background-main);
  text-shadow: 0 2px 8px rgba(0,0,0,0.35);
}

.hero__subtitle {  
  font-size: var(--fs-md2);
  font-weight: 400;
  line-height: 1.4;  
  color: var(--color-background-main); 
  max-width: 30ch;  
  /* max-width: 40%;   */
  text-shadow: 0 2px 8px rgba(0,0,0,0.35);  
}

.btn__hero-cta {
  font-size: var(--fs-md);
  font-weight: 500;
  background-color: var(--color-primary);
  color: var(--color-background-main);   
  border: 2px solid var(--color-primary);
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn__hero-cta:hover {
  background-color:var(--color-primary-hover);
  border-color: var(--color-primary-hover);  
  color: var(--color-background-main);
}


/* SERVICES SERVICIOS ================================================================================ */

.section__services {
  /* padding-block: clamp(5rem, 8vw, 8rem); */
  background-color: var(--color-background-soft);
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(1.5rem, 3vw, 3rem);
}

.service__card {
  display: flex;
  flex-direction: column;  
  padding: clamp(2rem, 2.5vw, 3rem);
  border: 1px solid var(--color-border-soft);
  background-color: var(--color-surface);
  border-radius: 16px;
  /* transition: all 0.3s ease; */
  transition: background-color 0.3s ease, border-color 0.3s ease;
  flex: 1;  /* para que el boton se vaya abajo */
}

.service__card:hover {
  border-color: var(--color-border-soft-hover);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}

.service__card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.service__number {
  font-family: var(--font-secondary);  
  font-size: var(--fs-hero);
  font-weight: 500;
  color: var(--color-accent-soft);
  opacity: 0.6;  
  margin-bottom: 1rem; /* extra al gap */
}

.service__heading {
  font-size: var(--fs-md);
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.3;
  color: var(--color-primary);
}

.service__description {
  font-size: var(--fs-base);
  line-height: 1.7;
  color: var(--color-text-muted);
}

/* lista de items que incluye el servicio */
.service__details {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-border-soft);
}

.service__details ul {
  padding-left: 1.2rem;
  margin: 0.8rem 0 1.2rem 0;
  line-height: 1.6;
  color: var(--color-text-muted);
}

.service__time {
  font-size: var(--fs-base);
  color: var(--color-text-light);
}

.service__card-content .btn--primary {
  margin-top: auto;
}

/* detalle de cuarto servicio de maquetacion */
.services__extra {
  margin-top: 3rem;
  text-align: center;
  font-size: var(--fs-base);
  color: var(--color-text-muted);
}


/* EXAMPLES EJEMPLOS PORTFOLIO ============================================================================ */

.section__examples {
    background-color: var(--color-background-main);
}

.examples__item {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 4rem;
  align-items: center;
  margin-bottom: 6rem;
}

.examples__heading {
  font-size: var(--fs-md);
  color: var(--color-primary);   
  margin-bottom: 1.5rem;
  line-height: 1.3;  
}

.examples__description {
  font-size: var(--fs-base);
  line-height: 1.7;
  color: var(--color-text-muted);
  margin-bottom: 1.5rem;
  max-width: 90%;
}

/* contenedor mockups */
.examples__mockups {
  position: relative;

  display: flex;
  align-items: flex-end;
}

/* base mockup */
.mockup {
  overflow: hidden;
  background: transparent;
}

/* desktop */
.mockup--desktop {
  border-radius: 18px;
  padding: 6px;
  
  background-color: var(--color-black-soft);
  border: 1.5px solid rgba(0,0,0,0.08);
  box-shadow:
    0 40px 80px rgba(0,0,0,0.18),
    0 10px 30px rgba(0,0,0,0.08);  

  z-index: 1;    
}

.mockup--desktop img {
  border-radius: 18px;
  width: 100%;  
  height: 100%;
  object-fit: cover;
  display: block;  
}

/* mobile superpuesto */
.mockup--mobile {
  position: absolute;
  right: 5%;
  bottom: -20px;
  border-radius: 18px;

  padding: 6px;
  aspect-ratio: 9 / 16;
  width: 25%;  
  
  background-color: var(--color-black-soft);
  border: 1.5px solid rgba(0,0,0,0.08);
  box-shadow:
    0 35px 70px rgba(0,0,0,0.28),
    0 10px 25px rgba(0,0,0,0.18);

  z-index: 2;
}

.mockup--mobile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* STATS TRAYECTORIA ================================================================================ */

.section__stats { 
  background: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-primary-dark) 100%
  );
}

.stats__grid {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
  align-items: center;
  row-gap: 3.1rem;
  column-gap: 1.8rem;
}

/* sistema de titulos stats */
.stats__header {
  text-align: center;
  margin-bottom: clamp(3rem, 6vw, 5rem);
  margin-inline: auto;
}

.stats__title {
  font-size: var(--fs-lg);
  margin-bottom: 1rem;
  color: var(--color-background-main);
  opacity: 0.85; 
}

.stats__description {
  font-size: var(--fs-base);
  color: var(--color-background-main);  
  opacity: 0.85;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.6;
  opacity: 0.75;
}
/* fin sistema titulos */

/* primero a la izquierda */
.stats__grid > div:nth-child(1) {
  text-align: left;
}

/* segundo centrado y con margin para darle aire a las lineas */
.stats__grid > div:nth-child(2) {
  text-align: center;
  padding: 0 clamp(2.2rem, 3.5vw, 3.5rem);
}

/* tercero a la derecha */
.stats__grid > div:nth-child(3) {
  text-align: right;
}

/* si es el segundo font grande */
.stats__grid > div:nth-child(2) .stats__value {
  font-size: clamp(4.5rem, 7vw, 6rem);
}

/* si es el primero y tercero font mas chico */
.stats__grid > div:nth-child(1) .stats__value,
.stats__grid > div:nth-child(3) .stats__value {
  font-size: clamp(3rem, 4.5vw, 4rem);
  opacity: 0.85;
}

/* paraa posicionar las lineas divisorias */
.stats__grid > div {
  position: relative;
}

/* lineas verticales de separacion */
.stats__grid > div:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%); /* ubicada al centro */
  width: 1px;         /* ancho de la linea */
  height: 80px;       /* largo de la linea */
  background: rgba(255,255,255,0.25); /* opacidad de la linea */
}

.stats__value {
  font-family: var(--font-secondary);  
  font-size: clamp(4rem, 6vw, 5rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color-background-main);
  text-shadow: 0 2px 8px rgba(0,0,0,0.35);    
  margin-bottom: 1rem;
}

/* para achicar peso de primer stats */
.stats__prefix {
  display: block;
  font-size: 0.4em;
  font-family: var(--font-primary);
  font-weight: 500;
  opacity: 1;
}

.stats__text {
  font-family: var(--font-primary);
  font-size: var(--fs-base);  
  font-weight: 400; 
  color: var(--color-background-main);
  text-shadow: 0 2px 8px rgba(0,0,0,0.35);    
  letter-spacing: 0.02em;
  line-height: 1.3;
}

.stats__value:hover, .stats__text:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}


/* ABOUT SOBRE MI ================================================================================ */

.section__about {
  background-color: var(--color-background-soft);
}

.about__grid {
  display: grid;
  grid-template-columns: 0.8fr 1.3fr;
  gap: 3rem;
  align-items: center;
}

/* imagen sin fondo y con fondo manchado */
.about__img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;

  width: 70%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

.about__img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.08));
}

.blob {
    position: absolute;
    top: -5%;
    left: -15%;
    width: 120%;
    height: 105%;
    background: var(--color-accent-soft);
    opacity: 0.25;
    border-radius: 60% 40% 50% 50% / 50% 60% 40% 50%;
    z-index: 1;
}


/* columna derecha de texto */
.about__content {
  text-align: left;
  max-width: 90%;
}

.about__description {
  font-size: var(--fs-base);
  line-height: 1.5;
  color: var(--color-text-muted);
}

/* CONTACT CONTACTO ================================================================================ */

.section__contact {
  background-color: var(--color-background-main);
  position: relative;
}

/* fondo con rosas */
.section__contact::before {
  content: "";
  position: absolute;
  inset: 0;

  background:
    linear-gradient(
      to bottom,
      rgba(250, 247, 244, 0.7) 0%,
      rgba(250, 247, 244, 0.8) 15%,      
      rgba(250, 247, 244, 0.9) 30%,      
      rgba(250, 247, 244, 1) 50%
    ),
    
    url("../img/contactWallpaper.jpg");

  background-size: cover;
  background-position: 0% 40%;

  z-index: 0;
}

.section__contact * {
  position: relative;
  z-index: 1;
}

.contact__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  padding-top: 2rem;
} 

/* COLUMNA IZQUIERDA ******/
.contact__info {
  max-width: 100%;
  /* padding-left: 4rem; */
  padding-left: clamp(0rem, 2vw, 2rem);  
}

/* piso la clase para limitarla */
.contact__info .section__description {
  max-width: 90%;
}

.contact__quick {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;  
  margin-bottom: 4rem;
}

/* agrupado de datos */
.contact__item {
  display: flex;
  align-items: center;  
  gap: 0.9rem;
  text-decoration: none;
  cursor: pointer;
}

.contact__icon:hover,
.contact__label:hover,
.contact__value:hover {
  opacity: 0.7;
}

/* icono svg */
.contact__icon {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--color-primary-light);
  flex-shrink: 0;
}

/* contenedor texto x2 */
.contact__item-text {
  display: flex;
  flex-direction: column;
}

.contact__label {
  font-size: var(--fs-xs);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: var(--color-text-muted);
}

.contact__value {
  font-size: var(--fs-base);
  font-weight: 500;
  color: var(--color-text-main);
}

/* piso la clase para limitar el ancho */
.contact__grid .microtext {
  max-width: 40ch;
}

/* COLUMNA DERECHA ******/
.contact__form {
  background-color: transparent;
  /* margin-top: 2.5rem; */
}

.form-group {
  margin-bottom: 0.9rem;
}

/* email y telefono en una sola linea */
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

.form-group label {
  font-size: var(--fs-xs);
  color: var(--color-text-main);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.65rem 0.85rem;
  background-color: var(--color-surface);
  border-radius: 12px;  
  border: 1px solid var(--color-primary-hover);
  transition: all 0.25s ease;  
}

/* textos que ayudan a completar muy suaves */
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: var(--color-text-muted);  
  opacity: 0.7;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(31, 73, 61, 0.08);
}

.form-group textarea {
  min-height: 120px;
}

/* pisa la clase btn--primary*/
.contact__form .btn--primary {
  width: 100%;
  justify-content: center;
  margin-top: 0.8rem;
  font-size: var(--fs-md);  
  padding: 0.9rem;
  border-radius: 12px;
}





/* gracias, solo se muestra cuando un cliente envia un mail ***********/
.section__thanks {
  background-color: var(--color-background-main);
  display: none;
}

.divisor__line {
  max-width: 600px;
  border: none;
  border-top: 2px solid var(--color-accent-soft);
  margin: 1.5rem auto;
  padding-top: 3rem;
}

#thanks:target {
  display: block;
}


/* =============================================================================
  footer
================================================================================ */
.site__footer {
  background-color: var(--color-primary);
}

.footer__tagline {
  font-size: var(--fs-md);
  font-weight: 400; 
  font-style: italic;
  letter-spacing: 0.5px;  
  opacity: 0.85;
  color: var(--color-background-main);

  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 0.8rem;  
}

.footer__copy {
  font-size: var(--fs-base);
  color: var(--color-background-main);  
  font-weight: 300;
  opacity: 0.7;
  text-align: center;
  padding-bottom: 1rem;  
}

/* boton flotante whatsapp */
.whatsapp__float {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  transition: transform 0.25s ease;
}

.whatsapp__icon {
  width: 100%;
  height: 100%;
  display: block;
}

.whatsapp__float:hover {
  transform: scale(1.12);
}






/* =============================================================================
  NAVBAR MEDIAQUERY
================================================================================ */

@media (max-width: 991px) {

  /* logo centrado en mobile */
  .navbar-brand {
    margin: 0 auto;
    padding-left: 0;    
  }
    
  /* Espaciado vertical en menú hamburguesa */
  .navbar-nav {
    gap: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* links a la derecha */
    align-items: flex-end;
    text-align: right;
  }

  /* Texto ligeramente mayor en mobile */
  .navbar-nav .nav-link {
    font-size: var(--fs-md);
    padding: 0.5rem 0;
  }

  /* Fondo desplegable con blur */
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* ivory con transparencia */    
    background-color: rgba(250, 247, 244, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 1rem;
  }

}

/* =============================================================================
  PANTALLA MUY GRANDES
================================================================================ */

@media (min-width: 2400px) {  

  /* cambio la imagen del hero e intensifico sombra */
  .header {
    background:
      linear-gradient(
        to left,
        rgba(0,0,0,0.6) 0%,
        rgba(0,0,0,0.45) 25%,
        rgba(0,0,0,0.25) 50%,
        rgba(0,0,0,0.1) 70%,
        rgba(0,0,0,0) 85%
      ),
      linear-gradient(
        90deg,
        rgba(120,75,45,1) 0%,
        rgba(167,110,69,0.95) 30%,
        rgba(167,110,69,0.6) 55%,
        rgba(167,110,69,0) 75%
      ),
      url("../img/heroBackgroud_ultrawide.png");

    background-size: 100% 100%, 100% 100%, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
  } 
}

/* =============================================================================
  RESPONSIVE PANTALLAS MEDIANAS
================================================================================ */

@media (max-width: 1024px) {

  /* servicios pasa a dos columnas */
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =============================================================================
  RESPONSIVE TABLET
================================================================================ */

@media (max-width: 768px) {

  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;    
  }

  /* achico espacios y font */
  .microtext {
    margin-top: 0.5rem;
    font-size: var(--fs-base);
  }

  /* header MEDIAQUERY -----*/    
  
  .hero__content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 8rem;
  }

  .hero__title,
  .hero__subtitle {
    max-width: 70%;
  }

  .hero__title {
    font-size: var(--fs-lg);
  }

  .hero__subtitle {
    /* font-size: clamp(1rem, 3.8vw, 1.3rem); */
    font-size: var(--fs-md);
  }

  .btn__hero-cta {
    padding: var(--fs-sm) var(--fs-md);
  }

 /* services MEDIAQUERY ----- */  
  
 /* paso a una columna */
  .services__grid {
    grid-template-columns: 1fr;
    justify-items: center;    
  }

  /* limito ancho para que se vea armonioso en table, achico aire */
  .service__card {
    max-width: 500px;
    padding: 2rem 1.5rem;    
  }

  /* examples MEDIAQUERY ----- */  

   /* paso a una columna cada proyecto, achico espacio */
  .examples__item {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1.5rem; 
    margin-bottom: 3rem;
  }

  /* uso todo el ancho para el texto */
  .examples__description {
    max-width: 100%;
  }

  .examples__mockups {
    flex-direction: column;
    align-items: center;
  }

  .mockup--mobile {
    position: relative;
    right: auto;
    bottom: auto;
    width: 50%;
    margin-top: -2rem;
  }

  .mockup--desktop {
    width: 100%;
  }


  /* stats MEDIAQUERY ----- */  

  .stats__grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .stats__grid > div {
    text-align: center !important;
  }

  .stats__grid > div::after {
    display: none;
  }

  /* about MEDIAQUERY ----- */  

  .about__grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .about__img-wrapper {
  }

  /* acomodo mancha*/
  .blob {
    left: 50%;
    transform: translateX(-50%);
  }

  /* texto ocupa todo el ancho */
  .about__content {
    max-width: 100%;
  } 

  /* contact MEDIAQUERY ----- */  

  /* reposiciono la imagen y el gradient */
  .section__contact::before {
    background:
    linear-gradient(
      to bottom,
      rgba(250, 247, 244, 0.7) 0%,
      rgba(250, 247, 244, 0.8) 5%,      
      rgba(250, 247, 244, 0.9) 10%,      
      rgba(250, 247, 244, 1) 15%
    ),
    url("../img/contactWallpaper.jpg");

    background-position: 70% 0%;
  }

  /* grilla de contacto la pasa una columna */
  .contact__grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  } 

  /* COLUMNA IZQUIERDA ******/

  .contact__info {   
    padding-left: 0;
  }

  /* saco el limite */
  .contact__info .section__description {
    max-width: 100%;
  }

  .contact__quick {
    margin-top: 1rem;  
    margin-bottom: 1rem;
    gap: 1rem;
  }

  /* agrega espacio vertical */
  .contact__item {
    padding: 0.6rem 0;
  }

  /* COLUMNA DERECHA ******/
  .contact__form {    
    margin-top: 2.5rem;
  }

  /* form mas compacto */
  /* .form-group {
    margin-bottom: 1rem;
    background-color: pink;    
  }  
  .form-group input,
  .form-group textarea {
    padding: 0.7rem 0.9rem;
    background-color: yellow;
  } */

  /* email y telefono pasan a una columna*/
  .form-row {
    grid-template-columns: 1fr;
  }

  /* .btn--primary {
    width: 10%;
    justify-content: center;
  } */

  /* saco el limite de ancho */
  .contact__grid .microtext {
    max-width: 100%;
    /* margin-top: 0; */ 
  }





  /* Pequeña adaptación mobile */
  .whatsapp__float {
    width: 54px;
    height: 54px;
    bottom: 20px;
    right: 20px;
  }

}

/* =============================================================================
  RESPONSIVE MOBILE
================================================================================ */

@media (max-width: 390px) {

}