/*
verde muy oscuro (te papa green )
#1f493d

verde oscuro (verde stromboli)
#336659

marron oscuro (cape palliser)
#a76e45

marron calido (terracotta)
#D9A38F

color calido lila claro (soft peach)
#f1e7e8 

blanco marfil (ivory)
#FAF7F4

gris casi negro
#2f2f2f


colores boton hero
  background-color: #1f493d;
  border: 2px solid #1f493d;  
  color: #FAF7F4;   

hover boton hero
  background-color:#336659;
  color: #FAF7F4;

colores boton primario
  background-color: #f1e7e8;
  border: 1.5px solid #f1e7e8;
  color: #2f2f2f;

colores boton secundario
  background-color: transparent;
  border: 1.5px solid #D9A38F;
  color: #a76e45;  
    
hover de botones
  background-color: #d9d0d1;
  border: 1.5px solid #c1b9ba;
*/

/****** reset, generales y clases base *****************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, p {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-optical-sizing: auto;
  /* background-color: #FAF7F4; */
  color: #2f2f2f;  
  scroll-behavior: smooth;
  background-color: #fffdfd05;  
}

a {
  text-decoration: none;
}

/* elementos base -------------------------*/

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  /* box-shadow: horizontal vertical desenfoque color */
  /* box-shadow: 0 4px 12px #2f2f2f40; */
}

/* titulos */
.title {
  color: #2f2f2f;  
  text-align: center;
  /* font-size: 2.2rem; */
  font-size: clamp(1.8rem, 2vw, 2.2rem);  
  font-weight: 500;
  padding-bottom: 2rem;
  /* background-color: green; */
}

.subtitle {
  /* font-size: 1.2rem; */
  font-size: clamp(1rem, 1.3vw, 1.5rem); 
  /* color: #2f2f2f;  */
  text-align: center;  
  padding-bottom: 2rem;   
  /* background-color: blue;      */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;  
  border-radius: 20px;
  text-align: center;  
  padding-bottom: 0rem;  
    border: 1.5px solid #f1e7e8;  
  /* box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);   */
  /* box-shadow: 0 6px 16px rgba(0,0,0,0.08); */
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  gap: 1rem;
  padding: 2rem 1.5rem; /*alto y horizontal */
}

/* aplica estilos a todos los elementos hijos directos (o primer nivel) */
.card__content > * {
  /* margin-bottom: 0.8rem; */
}

.card__content > *:last-child {
  /* margin-bottom: 0; */
}

.card__title {
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);    
  font-weight: 500;
  color: #336659;
  margin-top: 0.5rem;
}

.card__text {
  font-size: clamp(1rem, 1vw, 1.5rem);
  /* font-size: 1.3rem; */
  font-weight: 400;
  line-height: 1.6;
  /* color: #7a5248; */
  /* color: #5f4037; */
  color: #2f2f2f;
}

/* boton base */
.btn {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: 400;
  text-decoration: none;
  border-radius: 10px;

  text-align: center;
  width: auto;              /* deja que el botón tenga su tamaño natural */  
  display: inline-block; /* en algunos botones se pisa */

  padding: 0.7rem 1.6rem; /* espacio dentro del boton */
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.15);   */
}

.btn:hover {
  transform: translateY(-1px);  
  /* box-shadow: 0 10px 26px rgba(0, 0, 0, 0.45), inset 0 1px 0 rgba(255, 255, 255, 0.25); */

  background-color: #d9d0d1;
  border: 1.5px solid #c1b9ba;
  color: #2f2f2f;  
  /* box-shadow: none;   */
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);  
}


.btn-primary {
  /* background-color: #a76e45;
  border-color: #a76e45;
  color: #FAF7F4; */

  background-color: #f1e7e8;
  border: 1.5px solid #f1e7e8;
  color: #2f2f2f;

  display: block;           /* permite el margen auto */  
  margin: 0 auto;           /* lo centra */
}



.btn-secondary {
  background-color: transparent;
  border: 1.5px solid #D9A38F;
  color: #a76e45;
  box-shadow: none;  /* elimina sombra para que sea mas sutil */
}

.microtext {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2f2f2f;
  /* color: #336659; */
  opacity: 0.85;
  text-align: center;  
  margin-top: 2.5rem;
  margin-bottom: 0;
  /* background-color: olive; */
}


/* header -------------------------*/

/* bootstrap navbar personalizada */
.custom-navbar {
    background-color: #FAF7F4 !important;
    /* background-color: rgba(250, 247, 244, 0.95);
    backdrop-filter: blur(6px); */
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* links a la derecha en hamburguesa */
    text-align: right;
    gap: 1rem !important;  /* espacio entre links */       
    z-index: 2000;        
}

.custom-navbar a {
  /* font-size: 1.2rem;
  font-weight: 350 !important;
  color: #2f2f2f !important; */
}

.custom-navbar a:hover {
  color: #D9A38F !important;
}

/* link activo navbar */
.custom-navbar .nav-link[aria-current=page] {
  color: #336659 !important;
  font-weight: 600 !important;
}

.custom-navbar .navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
}

.logotipo {
  width: clamp(8rem, 30vh, 15rem);
  /* max-width: 75%; */
  /* min-width: 3rem; */
  height: auto;
}

/* header -----------------------------------------------------------*/

.header {   
  background:
    linear-gradient(to left, rgba(0,0,0,0.35), transparent 30%),
    linear-gradient(90deg, rgba(167,110,69,0.95) 0%, rgba(167,110,69,0) 70%),
    url("../img/heroBackgroud.jpg");

  background-size:
    100% 100%,   /* gradiente derecha */
    100% 100%,   /* gradiente izquierda */
    cover;       /* imagen */

  background-position:
    center,
    center,
    center;

  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
    
    box-shadow: inset 0 0 200px rgba(0,0,0,0.25);       

    height: clamp(600px, 85vh, 900px);
}

.hero {
  /* background-color: red; */
}

/* contenedor con ancho limitado */
.container-limit {
  max-width: 1600px;
  margin: 0 auto;  
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-height: 100vh;
  width: 100%;  

  padding-top: clamp(9rem, 20vh, 12rem); 
  padding-left: clamp(4rem, 5vw, 6rem); 
  gap: clamp(2rem, 5vh, 4rem);  
}

.hero__title {
  font-size: clamp(2.2rem, 2.5vw, 3.2rem);
  font-weight: 500;
  line-height: 1.2;
  color: #FAF7F4;
  max-width: 50%;
}

.hero__subtitle {  
  font-size: clamp(1.6rem, 1.8vw, 1.8rem);
  font-weight: 400;
  line-height: 1.4;  
  color: #FAF7F4; 
  max-width: 50%;  
}

.btn__hero-cta {
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
  font-weight: 500;
  background-color: #1f493d;
  border: 2px solid #1f493d;  
  color: #FAF7F4;   
}

.btn__hero-cta:hover {
  background-color:#336659;
  color: #FAF7F4;
}


/* section seccion servicios -------------------------*/

.services {
  /* background-color: #f1e7e8; */
  background-color: #ffffff;
/*  background-color: #f3efec; */

}

.services__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

/*  card servicios */
.services__card {
  /* background-color: #faf7f4;
  border-top: 4px solid #336659; */

  background-color: transparent;  
}

.services__image {
  width: 3.5rem;
  margin: 0rem;
  /* padding-bottom: 1rem; */
}

/* section ejemplos / examples --------------*/

.examples {
  background-color: #faf7f4;
}

.examples__item {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 4rem;
  align-items: center;
  margin-bottom: 6rem;
}

.examples__text h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #336659;
  margin-bottom: 1.5rem;
}

.examples__text p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #2f2f2f;
  margin-bottom: 1.5rem;
  max-width: 90%;
}

/* contenedor mockups */
.examples__mockups {
  position: relative;

  display: flex;
  align-items: flex-end;
}

/* base mockup */
.mockup {
  overflow: hidden;
  background: transparent;
}

/* desktop */
.mockup--desktop {
  border-radius: 18px;
  padding: 6px;

  /* overflow: hidden; */
  
  background-color: #111;
  border: 1.5px solid rgba(0,0,0,0.08);
  box-shadow:
    0 40px 80px rgba(0,0,0,0.18),
    0 10px 30px rgba(0,0,0,0.08);  

  z-index: 1;    
}

.mockup--desktop img {
  border-radius: 18px;
  width: 100%;  
  height: 100%;
  object-fit: cover;
  display: block;  
}

/* mobile superpuesto */
.mockup--mobile {
  position: absolute;
  right: 5%;
  bottom: -20px;
  border-radius: 18px;

  padding: 6px;
  aspect-ratio: 9 / 16;
  width: 25%;  
  
  background-color: #111;
  border: 1.5px solid rgba(0,0,0,0.08);
  box-shadow:
    0 35px 70px rgba(0,0,0,0.28),
   0 10px 25px rgba(0,0,0,0.18);

  z-index: 2;
}

.mockup--mobile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* seccion contacto -------------------------*/

/* section contacto */
.contact {
  /* background-color: #f1e7e8;   */
  background-color: #ffffff;
/*  background-color: #f3efec; */  
}

.contact__grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 3rem;
  align-items: center;
  margin-top: 3rem;
}

/* contacto rápido — iconos y texto */
.contact__quick-contact {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.8rem;  
}

.contact__quick-line {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.1rem;
}

.contact__icon {
  width: 1.8rem;
  height: auto;
}

.contact__image img {
  width: 80%;
  height: auto;
  max-height: none;
  border-radius: 20px;
  object-fit: cover;   
}

.contact__text {
  font-size: 1.1rem;
  font-weight: 400;
  color: #2f2f2f;
} 

.contact__quick-line:hover .contact__icon {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.contact__form {
  /* background-color: #FAF7F4; */
  background-color: transparent;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}

.contact__form .form-label {
  font-size: 1.1rem;
  font-weight: 500;
}

.contact__form .form-control {
  font-size: 1rem;
  padding: 0.6rem 0.75rem;
}

/* fin main *********************************************/
/****** footer  *****************************************/
.site-footer {
  background-color: #1f493d;
}

.footer-tagline {
  color: #FAF7F4;
  font-size: 1.2rem;
  font-weight: 400; 
  font-style: italic;
  letter-spacing: 0.5px;  
  opacity: 0.85;

  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 0.8rem;  

  /* linea superior divisoria */
  /* border-top: 1px solid rgba(250,247,244,0.5); */
}

.footer-copy {
  color: #FAF7F4;
  font-size: 0.85rem;
  font-weight: 300;
  opacity: 0.7;
  text-align: center;
  padding-bottom: 1rem;  
}

.whatsapp-float {
  position: fixed;
  bottom: 1.8rem;
  right: 1.8rem;
  width: 4.2rem;
  height: auto;
  z-index: 1000;
  cursor: pointer;

  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.650);  
  border-radius: 15%;
  /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.15);  
}

.whatsapp-float img {
  width: 100%;
  height: auto;
  display: block;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.800);  
}

 
/****** fin footer  *****************************************/



/* PANTALLAS MUY GRANDES ***************************************/
@media (min-width: 2400px) {
  .header {
    background:
      /* sombra derecha */
      linear-gradient(to left, rgba(0,0,0,0.45), rgba(0,0,0,0) 35%),

      /* degradé izquierdo más profundo */
      linear-gradient(
        90deg,
        rgba(120,75,45,1) 0%,
        rgba(167,110,69,0.95) 25%,
        rgba(167,110,69,0.6) 50%,
        rgba(167,110,69,0) 75%
      ),

      url("../img/heroBackgroud.jpg");

    background-size: 100% 100%, 100% 100%, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, center;
  }
}


/* RESPONSIVE TABLET ***************************************/
@media (max-width: 768px) {

  body, p, .card__text {
    font-size: 1.2rem;
  }

  /* acomodo la imagen */
  .header {
    background-position-x: 60%;
  }

  .hero__title {
    font-size: 2.3rem;
  }

  .hero__subtitle {
    font-size: 1.05rem;
  }

  /* bootstrap navbar personalizada MEDIAQUERY ------------------- */  
  .custom-navbar a {
    font-size: 1em !important;
    font-weight: 450 !important;
  }

    /* navbar hamburguesa desplegada con blur */
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        /* ivory con transparencia */
        background-color: rgba(250, 247, 244, 0.75);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px); /* Safari */
        padding: 1rem;
    }

    .navbar-nav {
        gap: 0.5rem !important;  /* espacio entre links */
    }  

  .title {
    font-size: 1.9rem;
  }

  /* examples ejemplos examples - solo dejo desktop y escondo screenshot de celular */
  .examples__item {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .examples__mockups {
    justify-content: center;
  }

  .mockup--desktop {
    width: 100%;
  }

  .mockup--mobile {
    display: none; /* ocultamos mobile mockup para que no recargue */
  }



  /* grilla de contacto la pasa una columna */
  .contact__grid {
    grid-template-columns: 1fr;
  }

  .contact__quick-contact {
    flex-direction: column;
    gap: 1.2rem;
  }
  .contact__icon {
    width: 2.2rem;
  }  

  /* desaparece la imagen de la seccion contacto */
  .contact__image {
    display: none;
  }  

  .card__title {
    font-size: 1.4rem;
  }  

  .card__text {
    font-size: 1.2rem;
  }  

  .btn {
    font-size: 1.1rem;
  }  

  /* link del footer pasan a columna */
  /* .footer-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.5rem;
  }  */

}


/* RESPONSIVE MOBILE ***************************************/
@media (max-width: 390px) {

  body, p, .card__text {
    font-size: 1rem;
  }

  .hero__title {
    /* achico el font-size y agrando espacio para el texto */
    font-size: 1.8rem;
    max-width: 70%;
  }
 
  .btn__hero-cta {
    /* achico el font-size */
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.6rem;
  }
  
  .card__title {
    font-size: 1.3rem;
  }  

  .card__text {
    font-size: 1.1rem;
  }  

  .btn {
    font-size: 1rem;
  }    

  .footer-tagline {
    font-size: 1rem;
  }

}